<!-- /templates/base.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ConectaONG - Um clique para salvar vidas">
    <title>ConectaONG - {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1><b>ConectaONG</b></h1>
        <p><mark>Um clique para salvar vidas</mark></p>

        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Sobre</a></li>
                <li><a href="{{ url_for('ongs') }}">ONGs</a></li>
                <li><a href="{{ url_for('oportunidades') }}">Oportunidades</a></li>
                <li><a href="{{ url_for('galeria') }}">Galeria</a></li>
                <li><a href="{{ url_for('contato') }}">Contatos</a></li>
                <li><a href="{{ url_for('cadastrar_ong') }}">Cadastrar ONG</a></li> <!-- Link para cadastro de ONGs -->
                <li><a href="{{ url_for('login') }}">Login</a></li> <!-- Link para login de usuários -->
            </ul>
        </nav>
    </header>

    <div>
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>Siga-nos nas redes sociais @ConectaONG</p>
        <p>Endereço: Rua da Solidariedade, 123 - São Paulo, SP</p>
    </footer>
</body>
</html>
