<!-- /templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section id="sobre">
    <h2>Sobre Nós</h2>
    <p>
        Bem-vindo ao <strong>ConectaONG</strong>, a plataforma que transforma solidariedade em ação! 
        Aqui, conectamos organizações sem fins lucrativos (ONGs) a voluntários e empresas que desejam fazer a diferença.
    </p>
    <p>
        Nosso propósito é criar uma ponte entre quem precisa de apoio e quem deseja contribuir para um mundo melhor. 
        No <strong>ConectaONG</strong>, as ONGs podem divulgar suas necessidades enquanto voluntários e doadores encontram 
        oportunidades de colaborar de forma prática e eficiente.
    </p>
    <p>
        Alinhados com o Objetivo de Desenvolvimento Sustentável (ODS) 10, buscamos reduzir as desigualdades sociais, 
        promovendo inclusão, engajamento comunitário e impacto positivo. Juntos, fortalecemos o terceiro setor, 
        impulsionando ações que promovem desenvolvimento sustentável e transformam vidas.
    </p>
</section>
{% endblock %}
